* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.form-item,
.btn,
h2,
h3,
h4 {
  margin: 1rem 0.5rem;
}

.btn {
  padding: 0.5rem;
}

#content {
  margin: 1.5rem;
}

label.primary {
}
