* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
}

ul {
  list-style: none;
}

p {
  padding: 0.5rem;
}

#form-wrapper {
  margin-left: 1rem;
}

.form-item,
.btn,
.delete-us,
#meaningless_date,
h2,
h3,
h4 {
  padding: 0.3rem;
  margin: 1rem 0.5rem;
}

.btn,
input,
#category {
  padding: 0.5rem;
}

#content {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  margin: 1rem;
}

.content-item {
  margin: 1rem;
  padding: 1rem;
  background-color: aquamarine;
  border-radius: 5px;
}

label.primary {
  font-size: 1.2rem;
  font-weight: bolder;
}

.btn {
  border-radius: 5px;
}

.save:hover {
  font-size: 1.3rem;
  background-color: burlywood;
}

.danger:hover {
  font-size: 1.3rem;
  background-color: crimson;
}

.purp:hover {
  font-size: 1.3rem;
  background-color: purple;
}

.turnPurple {
  background-color: purple;
}

.delete-us {
  font-size: 0.9rem;
}
